body {
    background-color: #0d1117;
    color: #fff;
    font-family: Arial;
    padding: 40px;
}

h1 {
    color: #58a6ff;
}

.box {
    margin-top: 20px;
    padding: 20px;
    background-color: #161b22;
    border-radius: 8px;
}
